@{
    ViewData["Title"] = "DeleteStudent";
}

<h1>DeleteStudent</h1>


<form id="form1">
    <p>
        <label for="StudentID">Student ID to Delete:</label>
        <input type="text" id="Id" name="Id" />
    </p>

    <p>
        <input type="button" id="button1" value="Delete" />
        <span id="ResponseSpan"></span>
    </p>

</form>

<script src="~/lib/jquery/dist/jquery.js"></script>

<!-- jquery code -->
<script type="text/javascript">
    $(function () {

        $("#button1").click(
            function () {

                //ajax code
                $.ajax({
                    url: 'https://localhost:44348/api/Students/' + $("#Id").val(),
                    data: {},
                    type: "delete",
                    success: function (response) {

                        $("#ResponseSpan").html(response);
                        alert("record deleted")
                    },
                    error: function (jqXHR, textStatus, err) {
                        $("#ResponseSpan").html(err);
                    }
                });

            });

    });
</script>
